{
  "extends": "standard-with-typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
	},
	"rules": {
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-extraneous-class": "off"
	}
}
